@font-face {
    font-family: "Nunito";
    src:  url(../FontFamily/Nunito-Medium.ttf);
}

*{
    padding: 0;    
    margin: 0;
    text-decoration: none;
    list-style: none;
    scroll-behavior: smooth;
    font-family: 'Nunito',serif;
    box-sizing: border-box;
}

/* All Container */
.container{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Navigation bar */
.navigation{
    width: 100%;
    height: auto;
}

/* Top Navbar */
.top-nav{
    width: 100%;
    height: 30px;
    background-color: #f77f00;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
}

/* Top Nav Left */
.top-nav > .card__left{
    width: 30%;
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 25px;
    font-size: 0.9rem;
}

.media__social{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    cursor: pointer;
}

.media__social > i{
    font-size: 1.2rem;
}

.media__social > i:hover{
    color: #000;
}

/* Style Khusus */
.media__social > .fa-facebook{
    font-size: 1rem;
}

/* Top Nav Right */
.top-nav > .card__right{
    width: 60%;
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 5px;
}

.user{
    color: #fff;
    font-size: 1rem;
}

.user:hover{
    color: #000;
}

.card__right > span.line{
    margin: 0 7px;
}

.card__right > span.language{
    font-size: 1rem;
    cursor: pointer;
}

/* Navigation Bar Main */
.navbar{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container__navbar{
    width: 90%;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Logo */
.logo{
    width: 40%;
}

.logo img{
    width: 25%;
}

/* Menu Links */
.menu__links{
    width: 60%;
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 17px;
}

.menu__links a{
    color: #000;
    font-size: 1.2rem;
}

.menu__links a:hover{
    color: #f77f00;
}

/* Menu Links Active */
.menu__links > a.active{
    color: #f77f00;
}

.menu__links > a > button{
    border: 2px solid #f77f00;
    padding: 7px 14px;
    background-color: #f77f00;
    border-radius: 20px;
    color: #fff;
    cursor: pointer;
    font-size: 1rem;
    font-family: 'Nunito',serif;
    transition: 0.3s ease-in-out;
}

.menu__links > a > button:hover{
    border: 2px solid #f77f00;
    background-color: transparent;
    color: #000;
    transition: 0.3s ease-in-out;
}

/* END Navigation */

/* PAGE MAIN ABOUT */
.page__main__blog{
    width: 100%;
    height: auto;
    background-image: url(../img/blog1.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header__page__blog{
    width: 100%;
    height: 30vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #0000006e;
}

.header__page__blog > h3{
    font-size: 2rem;
    color: #fff;
    text-shadow: 2px 2px 4px #000;     
}

.header__page__blog > .link__blog span{
    color: #fff;
    margin: 0 5px;
    font-size: 1.2rem;
}

.header__page__blog > .link__blog a{
    color: #fff;
    font-size: 1.2rem;
    text-shadow: 2px 2px 4px #000000;
}

.header__page__blog > .link__blog a:hover{
    color: #f77f00;
    cursor: pointer;
}

.header__page__blog > .link__blog > a.active{
    color: #f77f00;
}
/* END PAGE MAIN ABOUT */

/* PAGE CONTENT BLOG */
.page__detail__blog{
    width: 80%;
    padding: 50px 0 60px;
    z-index: 999;
    display: flex;
    justify-content: space-between;
}

/* CONTENT LEFT BLOG */
.content__left{
    width: 77%;
    height: auto;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.detail__blog{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.blog__image img{
    width: 100%;
    border-radius: 5px;
}

.title__blog{
    font-size: 1.2rem;
}

.info__blog{
    display: flex;
    gap: 60px;
    font-size: 0.9rem;
    color: #707070;
    margin: 5px 0 15px;
}

.sumber__blog{
    display: flex;
    justify-content: space-between;
    border-top: 1px solid #707070;
    padding-top: 10px;
    margin: 20px 0 60px;
}

.form__comment{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.form__comment > span{
    font-size: 1.2rem;
    font-weight: bold;
    padding-bottom: 10px;
    border-bottom: 1px solid #707070;
}

.user__form{
    display: flex;
    justify-content: space-between;
}

.user__comment{
    width: 10%;
    border-radius: 5px;
}

.user__comment img{
    width: 100%;
    display: block;
    background: #f77f00;
    border-radius: 5px;
}

.input__comment{
    width: 88%;
    text-align: right;
}

.input__comment > textarea{
    width: 100%;
    height: 20vh;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #707070;
    resize: none;
    font-size: 1rem;
}

.input__comment > button{
    padding: 8px 12px;
    border-radius: 3px;
    color: #fff;
    background: #f77f00;
    border: none;
    margin-top: 10px;
}

.input__comment > button:hover{
    background: #f76b00;
    cursor: pointer;
}

/* RELATED BLOG */
.related__blog{
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 40px;
}

.related__blog > h3{
    font-size: 1.5rem;
}

.container__related__blog{
    height: 50vh;
    display: grid;
    grid-template-columns: repeat(3, auto);
    gap: 20px;
}

.content__related__blog{
    display: flex;
    justify-content: center;
}

.card__related{
    width: 100%;
    overflow: hidden;
    border-radius: 3px;
    transition: all 0.5s ease-in-out;
    border: 1px solid #dedede;
}

.related__image{
    overflow: hidden;
}

.related__image img{
    width: 100%;
    display: block;
    transition: all 0.3s ease-in-out;
}

.related__image img:hover{
    opacity: 0.9;
    transform: scale(1.05);
    cursor: pointer;
}

.related__teks{
    padding: 5px 10px 10px;
}

.action__blog{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 0.8rem;
    color: #707070;
    margin-bottom: 13px;
}

.user__blog{
    display: flex;
    justify-content: right;
    gap: 10px;
    cursor: pointer;
}

.title__blog h4{
    font-size: 1.1rem;
}

.description__blog p{
    font-size: 0.9rem;
    margin-bottom: 17px;
}

.related__teks > a button{
    padding: 5px 10px;
    border: none;
    border-radius: 3px;
    color: #fff;
    background: #f77f00;
}

.related__teks > a button:hover{
    background: #f76b00;
    cursor: pointer;
}

/* CONTENT RIGHT BLOG */
.content__right{
    width: 20%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    gap: 20px;
}

/* SEARCH ENGINE */
.search__engine > .input__search{
    display: flex;
    justify-content: start;
    align-items: center;
    border: 1px solid #dbdbdb;
    border-radius: 3px;
}

.input__search > input{
    width: 215px;
    padding: 8px 12px;
    border: none;
    outline: none;
    background: transparent;
    color: #707070;
}

.input__search > i{
    font-size: 1.1rem;
    color: #f77f00;
    cursor: pointer;
}

/* ARCHIVE */
.archive{
    display: flex;
    flex-direction: column;
    border-radius: 3px;
    background-color: #f6f6f6;
}

.archive h3{
    font-size: 1.1rem;
    padding: 15px 20px;
    border-bottom: 2px solid #fff;
}

.date__archive{
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 15px 20px;
}

.date__archive > a{
    font-size: 0.9rem;
    color: #5c5c5c;
}

.date__archive > a:hover{
    color: #f77f00;
}

/* POPULAR TAG */
.popular__tag{
    border-radius: 3px;
    background-color: #f6f6f6;
}

.popular__tag h3{
    font-size: 1.1rem;
    padding: 15px 20px;
    border-bottom: 2px solid #fff;
}

.tag{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    text-align: center;
    gap: 5px;
    padding: 15px 20px;
    box-sizing: border-box;
}

.tag a{
    padding: 2px 8px;
    background-color: #cccccc;
    color: #000;
    border-radius: 2px;
    transition: all 0.2s;
}

.tag a:hover{
    background-color: #f77f00;
    color: #fff;
}

/* LATEST NEWS */
.latest__news{
    position: sticky;
    top: 20px;
    border-radius: 3px;
    background-color: #f6f6f6;
}

.latest__news h3{
    font-size: 1.1rem;
    padding: 15px 20px;
    border-bottom: 2px solid #fff;
}

.content__latest{
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 15px 20px;
}

.card__latest{
    display: flex;
    gap: 10px;
}

.latest__image{
    width: 45%;
    overflow: hidden;
    border-radius: 3px;
}

.latest__image img{
    width: 140%;
    display: block;
}

.teks__latest{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 5px;
}

.teks__latest > a{
    font-size: 0.8rem;
    font-weight: bold;
    color: #000;
}

.teks__latest > a:hover{
    color: #f77f00;
}

.teks__latest > span{
    font-size: 0.7rem;
    color: #f77f00;
}

/* END PAGE CONTENT BLOG */



/* FOOTER */
.footer{
    width: 100%;
    height: 55vh;
    background: #f9f1e7;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.container__footer{
    width: 90%;
    padding: 40px 0 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/* FOOTER TOP */
.top__footer{
    display: grid;
    grid-template-columns: 1.9fr 1fr 1fr 1fr;
    gap: 20px;
    z-index: 99;
}

/* LOGO */
.top__footer > .logo{
    width: 100%;
    padding-left: 60px;
}

.top__footer > .logo img{
    width: 50%;
}

.top__footer > .logo p{
    width: 89%;
    text-indent: 20px;
}

/* CONTACT FOOTER */
.contact__footer > .header_cf h5{
    font-size: 1.2rem;
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 10px;
    margin-bottom: 10px;
}

.contact__footer > .header_cf > h5 .line{
    width: 25px;
    height: 3px;
    border-radius: 20px;
    background-color: #f77f00;
}

.contact__footer > .location > i,
.contact__footer > .email > i,
.contact__footer > .phone > i,
.contact__footer > .location > span,
.contact__footer > .email > span,
.contact__footer > .phone > span {
    color: #707070;
    font-size: 0.9rem;
}

.contact__footer > .location{
    display: flex;
    gap: 7px;
}

.contact__footer > .location i{
    margin-top: 3px;
}

.contact__footer > .email{
    margin: 10px 0;
}

/* LINKS FOOTER */
.links__footer > .header_lf h5{
    font-size: 1.2rem;
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 10px;
    margin-bottom: 10px;
}

.links__footer > .header_lf > h5 .line{
    width: 25px;
    height: 3px;
    border-radius: 20px;
    background-color: #f77f00;
}

.links__footer > ul li{
    color: #f77f00;
    list-style: disc;
}

.links__footer > ul li{
    margin: 0 0 7px 20px;
}

.links__footer > ul li a{
    color: #000;
}

.links__footer > ul li a:hover{
    color: #f77f00;
    cursor: pointer;
}

/* INFORMATION FOOTER */
.information__footer > .header_if h5{
    font-size: 1.2rem;
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 10px;
    margin-bottom: 10px;
}

.information__footer > .header_if > h5 .line{
    width: 25px;
    height: 3px;
    border-radius: 20px;
    background-color: #f77f00;
}

.information__footer > ul li{
    color: #f77f00;
    list-style: disc;
}

.information__footer > ul li{
    margin: 0 0 7px 20px;
}

.information__footer > ul li a{
    color: #000;
}

.information__footer > ul li a:hover{
    color: #f77f00;
    cursor: pointer;
}

/* FOOTER BOTTOM */
.bottom__footer{
    width: 100%;
    background: #f77f00;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 80px;
    box-sizing: border-box;
    z-index: 2;
}

.bottom__footer > .copyright{
    color: #fff;
}

.bottom__footer > .media__social{
    display: flex;
    gap: 20px;
}

.bottom__footer > .media__social i{
    color: #fff;
    font-size: 1.4rem;
}

.bottom__footer > .media__social i:hover{
    color: #000;
}

.bottom__footer > .media__social > .fa-facebook{
    color: #fff;
    font-size: 1.2rem;
}

.background__footer{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 143vh;
    background-image: url(../img/footerbg.png);
    background-size: 125%;
    background-repeat: no-repeat;
    background-position-x: -30px;
}
/* END FOOTER */